@import 'common';

html, body{
  margin: auto;
}

.banner {
  width: 100%;
  height: 20.5em;
  margin: auto;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.one {
  background: url("/img/one.jpg");
  background-size: cover;
}

.two {
  background-image: url("/img/two.jpg");
  background-size: cover
}

.three {
  background-image: url("/img/three.jpg");
  background-size: cover
}

.container {
  width: 100%;
  height: 20.5em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  -o-transition:color .2s ease-out, background .3s ease-in;
  -ms-transition:color .2s ease-out, background .3s ease-in;
  -moz-transition:color .2s ease-out, background .3s ease-in;
  -webkit-transition:color .2s ease-out, background .3s ease-in;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.container:hover {
  background: rgba(0, 0, 0, 0.2);
}

.header {
  position: relative;
  display: block;
  z-index: 999;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%; 
  opacity: 0.75;
  -o-transition:color .2s ease-out, background .3s ease-in;
  -ms-transition:color .2s ease-out, background .3s ease-in;
  -moz-transition:color .2s ease-out, background .3s ease-in;
  -webkit-transition:color .2s ease-out, background .3s ease-in;
}

.header:hover {
  opacity: 1.00;
}

.date {
  text-transform: uppercase;
  font-family: $font-heading;
  letter-spacing: 0.25em;
  font-size: 1em;
  color: $offwhite !important;
}

.date span{
  border-bottom: 0.25em solid #fff;
  padding: 0.5em 0;
}

.heading {
  font-family: $font-body;
  letter-spacing: 1px;
  transform:scale(1,0.85);
  font-size: 3em;
  padding: 0.5em;
  text-transform: uppercase; 
  color: #fff !important;
  padding-bottom: 0.75em;
}

.heading a {
  color: #fff !important;
  font-style: normal;
  text-decoration: none;
}

.click-area {
  width: 100%;
  height: 4em;
}

.arrow {
  transition: 0.2s ease all;
}

.rotate {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transition: 0.2s ease all;
}

.expand {
  height: 28em !important;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.excerpt {
  display: inherit !important;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;

  p {
    text-align: center;
    font-family: $font-accent;
    font-size: 1em;
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
  }

}

.hide {
  display: none;
}

.read-more {
  text-align: center;
}

.white-btn {
  text-align: center;
  display: inline-block;
  font-family: $font-body;
  font-style: normal;
  text-decoration: none;
  box-shadow: none;
  border: 0.2em solid #000;
  text-transform: uppercase;
  background: #FFF;
  color: #000;
  letter-spacing: 0.25em;
  padding: 0.75em 1.25em;
  font-size: 0.75em;
}

.white-btn a{
  font-family: $font-body;
  font-style: normal;
  text-decoration: none;
  color: #000;
}

.white-btn:hover {
  background: #000;
  color: #FFF;
}