@import 'styleguide';

div {
  font-family: $font-body;
}

p {
  line-height: 1.7;
  font-size: 1.0625em;
  color: $offblack;
}

.title {
  font-weight: 800;
  font-size: 3.125em;
  font-family: $font-heading;
}

.subheading {
  font-weight: 600;
  font-size: 1.5em;
  margin-top: .9em;
  margin-bottom: -0.625em;
}

.date {
  color: $grey;
  font-size: 1.25em;
  margin: .5em .25em;
}

.post {
  margin: 0.625em 0.3125em;
  line-height: 150%;
}

.center {
  margin: 0em auto;
}

.container {
  margin-top: 3.125em;
  margin-bottom: 6.25em;
}

.caption {
  text-align: center;
  font-size: 0.875em;
  font-weight: 600;
  color: $darkgrey;
  width: 100%;
}

.image {
  display: inline;
  text-align: center;
}

img {
  display: inline-block;
}

#img1 {
  width: calc(100% * 700 / (455 + 700) - 0.1875em);
}

#img2 {
  width: calc(100% * 455 / (455 + 700) - 0.125em);
}

#img3 {
  width: 100%;
}
