@import 'common';

body {
    overflow: hidden;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
}
.home-menu {
    background: $trueblack;
}

.home-menu {
    .pure-menu-item {
        font-size: 0.75em;
        letter-spacing: 0.25em;
        font-family: Raleway;
    }
}

.home-menu {
    a {
        color: $offwhite;
    }
}
.home-menu {
    li {
        a:hover {
            background: $trueblack;
            color: $lightgrey;
        }
    }
}

.top-img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30em;
    height: auto;
    z-index: 5;
}

#bg-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.vid-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

