@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
/* use n*$base-unit for all font-sizing, (vertical) spacing */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.home-menu {
  padding: 0.5em;
  text-align: center;
  background: #000; }

.home-menu .pure-menu-item {
  font-size: 0.75em;
  letter-spacing: 0.25em;
  font-family: "Raleway", sans-serif; }

.home-menu a {
  color: #fEfefd; }

.home-menu li a:hover {
  background: #000;
  color: #ddd; }

/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "Old Standard TT", sans-serif;
  background-color: #fEfefd;
  font-size: 16px; }

/* Adjustments to tag defaults */
::selection {
  background-color: #FFDE00; }

p {
  line-height: 1.5; }

.content-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 2.5em; }

html, body {
  margin: auto; }

.banner {
  width: 100%;
  height: 20.5em;
  margin: auto;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out; }
  .banner .container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    -o-transition: color .2s ease-out, background .3s ease-in;
    -ms-transition: color .2s ease-out, background .3s ease-in;
    -moz-transition: color .2s ease-out, background .3s ease-in;
    -webkit-transition: color .2s ease-out, background .3s ease-in;
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out; }
    .banner .container:hover {
      background: rgba(0, 0, 0, 0.2); }
    .banner .container .header {
      position: relative;
      display: block;
      z-index: 888;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-top: 6%;
      opacity: 0.75;
      -o-transition: color .2s ease-out, background .3s ease-in;
      -ms-transition: color .2s ease-out, background .3s ease-in;
      -moz-transition: color .2s ease-out, background .3s ease-in;
      -webkit-transition: color .2s ease-out, background .3s ease-in; }
      .banner .container .header:hover {
        opacity: 1.00; }
    .banner .container .hide {
      transition: opacity 0.5s linear;
      opacity: 0; }
      .banner .container .hide .read-more {
        text-align: center; }
        .banner .container .hide .read-more .white-btn {
          text-align: center;
          display: inline-block;
          font-family: "Old Standard TT", sans-serif;
          font-style: normal;
          text-decoration: none;
          box-shadow: none;
          border: 0.2em solid #000;
          text-transform: uppercase;
          background: #fEfefd;
          color: #000;
          letter-spacing: 0.25em;
          padding: 0.75em 1.25em;
          font-size: 0.75em; }
          .banner .container .hide .read-more .white-btn a {
            font-family: "Old Standard TT", sans-serif;
            font-style: normal;
            text-decoration: none;
            color: #000; }
          .banner .container .hide .read-more .white-btn:hover {
            background: #000;
            color: #fEfefd; }
      .banner .container .hide p {
        text-align: center;
        font-family: "Libre Baskerville", sans-serif;
        font-size: 1em;
        padding-left: 15%;
        padding-right: 15%;
        color: #fEfefd; }
  .banner.expand {
    background-position: center;
    height: 28em;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out; }
    .banner.expand .excerpt {
      opacity: 1; }

.one {
  background: url("/img/one.jpg");
  background-size: cover; }

.two {
  background-image: url("/img/two.jpg");
  background-size: cover; }

.three {
  background-image: url("/img/three.jpg");
  background-size: cover; }

.date {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25em;
  font-size: 1em;
  color: #fEfefd; }

.date span {
  border-bottom: 0.25em solid #fEfefd;
  padding: 0.5em 0; }

.heading {
  font-family: "Old Standard TT", sans-serif;
  letter-spacing: 1px;
  transform: scale(1, 0.85);
  font-size: 3em;
  padding: 0.5em;
  text-transform: uppercase;
  color: #fEfefd;
  padding-bottom: 0.75em; }

.heading a {
  color: #fEfefd;
  font-style: normal;
  text-decoration: none; }

.click-area {
  width: 100%;
  height: 4em; }

.arrow {
  transition: 0.2s ease all;
  cursor: pointer; }

.rotate {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transition: 0.2s ease all; }

.home-menu {
  z-index: 999; }
