@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
/* use n*$base-unit for all font-sizing, (vertical) spacing */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.home-menu {
  padding: 0.5em;
  text-align: center;
  background: #000; }

.home-menu .pure-menu-item {
  font-size: 0.75em;
  letter-spacing: 0.25em;
  font-family: "Raleway", sans-serif; }

.home-menu a {
  color: #fEfefd; }

.home-menu li a:hover {
  background: #000;
  color: #ddd; }

/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "Old Standard TT", sans-serif;
  background-color: #fEfefd;
  font-size: 16px; }

/* Adjustments to tag defaults */
::selection {
  background-color: #FFDE00; }

p {
  line-height: 1.5; }

.content-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 2.5em; }

body, html {
  background-color: #fEfefd;
  color: #333; }

#main {
  background: #fEfefd;
  color: #333;
  border: 0;
  margin: auto;
  width: 80vw;
  padding: 5vh 5vw; }

.date {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  font-style: italic; }

.words {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px; }

h1 {
  color: #BFBFBF;
  font-family: 'Montserrat', sans-serif; }

.photoblock {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: auto;
  margin: 3vh 0;
  height: auto; }

.block {
  flex: 1;
  height: 30vh;
  padding: 0;
  background: #fEfefd;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 20vw; }

.cover {
  object-fit: cover; }

.lightbox-hidden {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  /*background-color: $offblack;*/
  top: -100vh;
  transition: .5s ease;
  /*opacity: 0.8;*/
  z-index: 1; }

.lightbox {
  transform: translate(0, 100vh);
  transition: .5s ease; }

.modal-contain {
  display: flex;
  margin: auto auto;
  width: 90vw;
  height: 90vh; }

.modal-img {
  width: 100%;
  object-fit: contain; }

.nametag {
  min-width: 0;
  color: #fEfefd;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  box-sizing: border-box; }

.namee {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

.woo {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .25em; }

.wot {
  position: relative;
  top: -1em;
  margin-bottom: 10px;
  font-size: 10px;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: lighter;
  letter-spacing: .1em; }
